In [3]:
#packages to install with terminal 
#pip install kmodes
#pip install --upgrade kmodes

In [18]:
import numpy as np
from kmodes.kmodes import KModes
import pandas as pd
from IPython.display import Image
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [12, 12]
pd.set_option("precision", 5)
import pickle
import math

In [19]:
data = pd.read_csv('Data/customer_data.csv')
df = data.iloc[0:1000]

In [20]:
del df["Unnamed: 0"]
del df["UniqueID"]

In [21]:
df.head()

   FrequencyofVisits   Age       Sex         Payer Facility
0                  1  37.0  Feminino  PARTICULARES     CCTV
1                 15  37.0  Feminino         IASFA      CCM
2                 13  37.0  Feminino         MÉDIS      HCD
3                 32  37.0  Feminino       ALLIANZ      CCA
4                  1  37.0  Feminino   ADVANCECARE      CCM

In [22]:
numerical_data = df.select_dtypes(np.number)
categorical_data = df.select_dtypes([object, "category"])

In [23]:
for col in numerical_data.columns:
    numerical_data[col].fillna(numerical_data[col].mean(), inplace=True)

/Users/jerenbaum/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [24]:
from sklearn.preprocessing import MinMaxScaler 

numerical_data_normalized = MinMaxScaler().fit_transform(numerical_data)
numerical_data_normalized = pd.DataFrame(numerical_data_normalized, columns=numerical_data.columns)

/Users/jerenbaum/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [25]:
categorical_data_codified = pd.get_dummies(categorical_data, drop_first=True)

In [26]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [27]:
categorical_data_codified.shape

(1000, 63)

In [28]:
numerical_data_normalized.shape

(1000, 2)

In [29]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [30]:
df_processed.shape

(1000, 65)

In [31]:
df_processed.head()

,FrequencyofVisits,Age,Sex_Masculino,Sex_Missing,Payer_ADSE,Payer_ADVANCECARE,Payer_ALLIANZ,Payer_ARS,Payer_ASSISTÊNCIA INTERNACIONAL,Payer_ENTIDADES COM DESCONTO,...,Facility_['CCB' 'HCD'],Facility_['CCC' 'CCS'],Facility_['CCC' 'CCSDR'],Facility_['CCC' 'HCD'],Facility_['CCM' 'CCTV'],Facility_['CCTV' 'HCD'],Facility_['CCTV' 'HCIS'],Facility_['HCD' 'HCIS'],Facility_['HCD' 'HCS'],Facility_['HCP' 'ICDT']
0,0.00000,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.08642,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.07407,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.19136,0.24194,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.00000,0.24194,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
km = KModes(n_clusters=6, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(df_processed)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 284, cost: 3290.0
Run 1, iteration: 2/100, moves: 67, cost: 3290.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 331, cost: 3289.0
Run 2, iteration: 2/100, moves: 46, cost: 3289.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 375, cost: 3315.0
Run 3, iteration: 2/100, moves: 155, cost: 3258.0
Run 3, iteration: 3/100, moves: 69, cost: 3258.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 295, cost: 3350.0
Run 4, iteration: 2/100, moves: 7, cost: 3350.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 344, cost: 3378.0
Run 5, iteration: 2/100, moves: 156, cost: 3374.0
Run 5, iteration: 3/100, moves: 3, cost: 3374.0
Best run was number 3

In [33]:
print(km.cluster_centroids_)

[[0.01234568 0.5        0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         1.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.77419355 0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.00617284 0.61290323 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.40322581 1.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.5        0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.5        0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]