In [3]:
#packages to install with terminal 
#pip install kmodes
#pip install --upgrade kmodes

In [1]:
import numpy as np
from kmodes.kmodes import KModes
import pandas as pd
from IPython.display import Image
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [12, 12]
pd.set_option("precision", 5)
import pickle
import math

In [2]:
data = pd.read_csv('Data/customer_data.csv')
df = data.iloc[0:1000]

In [3]:
del df["Unnamed: 0"]
del df["UniqueID"]

In [4]:
df.head()

   FrequencyofVisits   Age       Sex         Payer Facility
0                  7  37.0  Feminino     MULTICARE     HCIS
1                 18  37.0  Feminino          ADSE      HCP
2                 23  37.0  Feminino         MÉDIS      HCD
3                  1  37.0  Feminino   ADVANCECARE     CCMF
4                  2  37.0  Feminino  PARTICULARES     ICDT

In [5]:
numerical_data = df.select_dtypes(np.number)
categorical_data = df.select_dtypes([object, "category"])

In [6]:
for col in numerical_data.columns:
    numerical_data[col].fillna(numerical_data[col].mean(), inplace=True)

/Users/mayaaravapalli/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [7]:
from sklearn.preprocessing import MinMaxScaler 

numerical_data_normalized = MinMaxScaler().fit_transform(numerical_data)
numerical_data_normalized = pd.DataFrame(numerical_data_normalized, columns=numerical_data.columns)

/Users/mayaaravapalli/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [8]:
categorical_data_codified = pd.get_dummies(categorical_data, drop_first=True)

In [9]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [10]:
categorical_data_codified.shape

(1000, 63)

In [11]:
numerical_data_normalized.shape

(1000, 2)

In [12]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [13]:
df_processed.shape

(1000, 65)

In [14]:
df_processed.head()

,FrequencyofVisits,Age,Sex_Masculino,Sex_Missing,Payer_ADSE,Payer_ADVANCECARE,Payer_ALLIANZ,Payer_ARS,Payer_ENTIDADES COM DESCONTO,Payer_FUTURE HEALTHCARE,...,Facility_['CCA' 'HCD'],Facility_['CCA' 'HCIS'],Facility_['CCAL' 'HCD'],Facility_['CCB' 'HCD'],Facility_['CCC' 'HCD'],Facility_['CCM' 'HCD'],Facility_['CCS' 'CCSDR'],Facility_['CCTV' 'HCD'],Facility_['HCD' 'HCIS'],Facility_['HCP' 'ICDT']
0,0.04762,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.13492,0.24194,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.17460,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.00000,0.24194,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.00794,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
km = KModes(n_clusters=6, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(df_processed)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 407, cost: 3294.0
Run 1, iteration: 2/100, moves: 65, cost: 3294.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 302, cost: 3430.0
Run 2, iteration: 2/100, moves: 41, cost: 3430.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 467, cost: 3295.0
Run 3, iteration: 2/100, moves: 63, cost: 3295.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 368, cost: 3249.0
Run 4, iteration: 2/100, moves: 0, cost: 3249.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 500, cost: 3326.0
Run 5, iteration: 2/100, moves: 14, cost: 3326.0
Best run was number 4

In [16]:
kmodes = km.cluster_centroids_

In [17]:
kmodes.shape

(6, 65)