In [3]:
#packages to install with terminal 
#pip install kmodes
#pip install --upgrade kmodes

In [4]:
import numpy as np
from kmodes.kmodes import KModes
import pandas as pd
from IPython.display import Image
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [12, 12]
pd.set_option("precision", 5)
import pickle
import math

In [23]:
data = pd.read_csv('Data/customer_data.csv')
df = data.iloc[0:1000]

In [25]:
del df["Unnamed: 0"]
del df["UniqueID"]

In [26]:
df.head()

   FrequencyofVisits   Age       Sex              Payer Facility
0                  3  37.0  Feminino  FUTURE HEALTHCARE      HCS
1                 13  37.0  Feminino  FUTURE HEALTHCARE     ICDT
2                  6  37.0  Feminino        ADVANCECARE      CCB
3                  6  37.0  Feminino              IASFA     CCMF
4                 13  37.0  Feminino               ADSE      CCC

In [27]:
numerical_data = df.select_dtypes(np.number)
categorical_data = df.select_dtypes([object, "category"])

In [28]:
for col in numerical_data.columns:
    numerical_data[col].fillna(numerical_data[col].mean(), inplace=True)

/home/csimmons1/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [29]:
from sklearn.preprocessing import MinMaxScaler 

numerical_data_normalized = MinMaxScaler().fit_transform(numerical_data)
numerical_data_normalized = pd.DataFrame(numerical_data_normalized, columns=numerical_data.columns)

/home/csimmons1/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [30]:
categorical_data_codified = pd.get_dummies(categorical_data, drop_first=True)

In [31]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [32]:
categorical_data_codified.shape

(1000, 63)

In [33]:
numerical_data_normalized.shape

(1000, 2)

In [34]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [35]:
df_processed.shape

(1000, 65)

In [36]:
df_processed.head()

,FrequencyofVisits,Age,Sex_Masculino,Sex_Missing,Payer_ADSE,Payer_ADVANCECARE,Payer_ALLIANZ,Payer_ARS,Payer_ASSISTÃŠNCIA INTERNACIONAL,Payer_ENTIDADES COM DESCONTO,...,Facility_['CCB' 'CCS'],Facility_['CCB' 'HCD'],Facility_['CCC' 'CCS'],Facility_['CCC' 'CCSDR'],Facility_['CCC' 'HCIS'],Facility_['CCSDR' 'HCD'],Facility_['CCTV' 'HCS'],Facility_['HCD' 'HCIS'],Facility_['HCD' 'HCS'],Facility_['HCP' 'ICDT']
0,0.01235,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.07407,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.03086,0.24194,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.03086,0.24194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.07407,0.24194,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
km = KModes(n_clusters=6, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(df_processed)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 364, cost: 3246.0
Run 1, iteration: 2/100, moves: 17, cost: 3246.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 316, cost: 3222.0
Run 2, iteration: 2/100, moves: 16, cost: 3217.0
Run 2, iteration: 3/100, moves: 12, cost: 3217.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 354, cost: 3278.0
Run 3, iteration: 2/100, moves: 13, cost: 3278.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 233, cost: 3363.0
Run 4, iteration: 2/100, moves: 0, cost: 3363.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 405, cost: 3416.0
Run 5, iteration: 2/100, moves: 41, cost: 3410.0
Run 5, iteration: 3/100, moves: 8, cost: 3410.0
Best run was number 2

In [40]:
#print(km.cluster_centroids_)

In [41]:
centroids.shape

NameError: name 'centroids' is not defined