In [14]:
import numpy as np
from kmodes.kmodes import KModes
import pandas as pd
from IPython.display import Image
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = [12, 12]
pd.set_option("precision", 5)
import pickle
import math

In [15]:
data = pd.read_csv("Data/2017.csv")
df = data.iloc[0:1000]

In [16]:
numerical_data = df.select_dtypes(np.number)
categorical_data = df.select_dtypes([object, "category"])

In [17]:
for col in numerical_data.columns:
    numerical_data[col].fillna(numerical_data[col].mean(), inplace=True)

In [18]:
from sklearn.preprocessing import MinMaxScaler 

numerical_data_normalized = MinMaxScaler().fit_transform(numerical_data)
numerical_data_normalized = pd.DataFrame(numerical_data_normalized, columns=numerical_data.columns)

In [20]:
categorical_data_codified = pd.get_dummies(categorical_data, drop_first=True)

In [21]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [22]:
categorical_data_codified.shape

(1000, 409)

In [23]:
numerical_data_normalized.shape

(1000, 1)

In [24]:
df_processed = pd.concat([numerical_data_normalized, categorical_data_codified], axis = 1)

In [25]:
df_processed.shape

(1000, 410)

In [27]:
df_processed.head()

,Data Nascimento,Data_01/03/2017,Data_01/06/2017,Data_01/09/2017,Data_02/01/2017,Data_02/02/2017,Data_02/03/2017,Data_02/05/2017,Data_02/06/2017,Data_02/10/2017,...,hashed_ID_Único_c8c2a7602c58c057b5473eda4d9c18da,hashed_ID_Único_d4cbaa2a3f8418520d4fc80656297ef2,hashed_ID_Único_d5f51e2d9cae9ae3848b533f74f81b8a,hashed_ID_Único_d9eb5b808e39bbc86c26a37ddef9fd0f,hashed_ID_Único_dc93f21d8aae4fb7801e03691b827929,hashed_ID_Único_dd1d92bdd5d66484c20d0ad68d18bb05,hashed_ID_Único_e1fe29fc4ba8f0303b0d1bee5df8c39c,hashed_ID_Único_eb25e44669fef6d1053b2d0ceff2ad1f,hashed_ID_Único_f8785dbb7fd142e7a56b41f87a81535d,hashed_ID_Único_f9a76f335e91c20411ef14d317995b71
0,0.75806,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.75806,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.75806,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.75806,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.75806,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
#packages to install with terminal 
# pip install kmodes
#pip install --upgrade kmodes

In [29]:
km = KModes(n_clusters=6, init='Huang', n_init=5, verbose=1)
clusters = km.fit_predict(df_processed)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 221, cost: 5677.0
Run 1, iteration: 2/100, moves: 22, cost: 5677.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 298, cost: 5713.0
Run 2, iteration: 2/100, moves: 53, cost: 5697.0
Run 2, iteration: 3/100, moves: 25, cost: 5695.0
Run 2, iteration: 4/100, moves: 3, cost: 5695.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 145, cost: 5999.0
Run 3, iteration: 2/100, moves: 21, cost: 5996.0
Run 3, iteration: 3/100, moves: 0, cost: 5996.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 281, cost: 5534.0
Run 4, iteration: 2/100, moves: 0, cost: 5534.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 384, cost: 5456.0
Run 5, iteration: 2/100, moves: 85, cost: 5452.0
Run 5, iteration: 3/100, moves: 0, cost: 5452.0
Best run was number 5

In [30]:
print(km.cluster_centroids_)

[[0.58064516 0.         0.         ... 0.         0.         0.        ]
 [0.42042234 0.         0.         ... 0.         0.         0.        ]
 [0.14516129 0.         0.         ... 0.         0.         0.        ]
 [0.53225806 0.         0.         ... 0.         0.         0.        ]
 [0.35483871 0.         0.         ... 0.         0.         0.        ]
 [0.59677419 0.         0.         ... 0.         0.         0.        ]]