# PCA

### Import data and packages

In [1]:
import pandas as pd
import numpy as np

#PCA
from sklearn.decomposition import PCA

In [18]:
data = pd.read_csv('Data/customer_data.csv')
del data["Unnamed: 0"]
data.head()

,UniqueID,FrequencyofVisits,Age,Sex,Payer,Facility
0,57c316839e1dbcd90f5d1bd6eb42d12f,3,37.0,Feminino,FUTURE HEALTHCARE,HCS
1,4d29a19dfe6806f18bce01bb0fe85675,13,37.0,Feminino,FUTURE HEALTHCARE,ICDT
2,a26297e9956e6e46e1b5e4df332f1cce,6,37.0,Feminino,ADVANCECARE,CCB
3,a3ddef9f9f7736591f42cdf9039e2288,6,37.0,Feminino,IASFA,CCMF
4,b500cfc9376a616d4e89ea600ebd1871,13,37.0,Feminino,ADSE,CCC

In [19]:
data.shape

(810341, 6)

In [20]:
#data = data[0:1000]

### Data Processing

In [21]:
data.isnull().values.any()

False

In [22]:
#Save patient names
patients = data.UniqueID

In [23]:
data = data.drop(columns="UniqueID")
data.head()

   FrequencyofVisits   Age       Sex              Payer Facility
0                  3  37.0  Feminino  FUTURE HEALTHCARE      HCS
1                 13  37.0  Feminino  FUTURE HEALTHCARE     ICDT
2                  6  37.0  Feminino        ADVANCECARE      CCB
3                  6  37.0  Feminino              IASFA     CCMF
4                 13  37.0  Feminino               ADSE      CCC

In [5]:
numerical_data = data.select_dtypes(np.number)
categorical_data = data.select_dtypes([object, "category"])

In [6]:
from sklearn.preprocessing import MinMaxScaler

numerical_data_normalized = MinMaxScaler().fit_transform(numerical_data)
numerical_data_normalized = pd.DataFrame(
                    numerical_data_normalized,
                    columns=numerical_data.columns)

/home/csimmons1/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [7]:
categorical_data_codified = pd.get_dummies(
                                    categorical_data, 
                                    drop_first=True
)

In [8]:
data_processed = pd.concat([
                            numerical_data_normalized,
                            categorical_data_codified
                        ], axis=1
)
data_processed.head(5)

,FrequencyofVisits,Age,Sex_Masculino,Sex_Missing,Payer_ADMG,Payer_ADSE,Payer_ADVANCECARE,Payer_ALLIANZ,Payer_ARS,Payer_ASSISTÊNCIA INTERNACIONAL,...,Facility_['HCIS' 'HCS'],Facility_['HCIS' 'HCV'],Facility_['HCIS' 'ICDT'],Facility_['HCP' 'HCS'],Facility_['HCP' 'HCV' 'ICDT'],Facility_['HCP' 'HCV'],Facility_['HCP' 'ICDT'],Facility_['HCS' 'HCV'],Facility_['HCS' 'ICDT'],Facility_['HCV' 'ICDT']
0,0.003130,0.349057,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.018779,0.349057,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.007825,0.349057,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.007825,0.349057,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.018779,0.349057,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## PCA

In [10]:
from sklearn.preprocessing import StandardScaler

data2 = StandardScaler(with_std=False).fit_transform(data_processed)

/home/csimmons1/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/csimmons1/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [43]:
estimator_pca = PCA(n_components=14)
data_pca = estimator_pca.fit_transform(data2)

In [44]:
estimator_pca.explained_variance_ratio_.sum()

0.8032844731752403

In [45]:
data_pca.shape

(810341, 14)

In [47]:
data_df = pd.DataFrame(data_pca, columns=["PC1", "PC2", "PC3", "PC4", "PC5", "PC6", "PC7", "PC8", "PC9", "PC10", "PC11", "PC12", "PC13", "PC14"])
data_df["UniqueID"] = patients
data_df.head(2)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14,UniqueID
0,-0.364037,-0.107169,-0.007892,-0.105537,0.09196,-0.068248,0.039098,0.171010,-0.179154,0.146908,0.804683,0.110341,0.694594,-0.162076,57c316839e1dbcd90f5d1bd6eb42d12f
1,-0.365604,-0.133887,0.015146,-0.162602,0.24113,-0.055893,-0.131696,0.186359,-0.586681,-0.594955,0.075158,0.546117,0.046840,-0.012824,4d29a19dfe6806f18bce01bb0fe85675

In [48]:
data_df.shape

(810341, 15)

### Export the data

In [51]:
# This is the wide format, the customer table 
data_df.to_csv("Data/pca_customer_data.csv")